.footer {
  background-color: #efefef;
  padding: 1rem;
}
.footerIn {
  display: flex;
  height: 32px;
  border-radius: 0.3rem;
  overflow: hidden;
}
.footerIn input {
  flex-grow: 1;
  outline: none;
  padding: 0 1rem;
}
.footerIn button {
  width: 75px;
  background: var(--color-accent);
  color: #fff;
}

.footerIn button:hover {
  filter: brightness(125%);
}
