.contain {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.box {
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  background-color: var(--color-bg);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}
